
body{
    font-family: courier;
    font-size:40px;
}

#wrap {
    position: relative;
    margin-left: calc(45vw - 350px);
    margin-top: calc(5vh - 150px);
    width: 900px;
    padding: 0 5em 5em 0;

}

#wrapleftarrow {
    position: absolute;
    top: 750px;
    left: 200px;
    width: 200px;
}

#wraprightarrow {
    position: absolute;
    top: 750px;
    right: 100px;
    width: 200px;
}

#wrapwolf {
    position: absolute;
    top: 450px;
    left: 100px;
    width: 450px;
}

#wrapdirection {
    text-align: center;
    margin-left: calc(40vw - 290px);
    margin-top: calc(25vh - 100px);
    width: 900px;
    padding: 0 7em 2em 0;
}

#wrapflower1 {
    position: absolute;
    left: 0px;
    top: 600px;
    width: 130px;

}

#wrapflower2 {
    position: absolute;
    left: 5px;
    top: 850px;
    width: 110px;
}

#wrapflower3 {
    position: absolute;
    left: 200px;
    top: 1000px;
    width: 130px;
}

#wrapflower4 {
    position: absolute;
    left: 450px;
    top: 1050px;
    width: 100px;
}

#wrapflower5 {
    position: absolute;
    left: 700px;
    top: 950px;
    width: 100px;
}


#wrapflower6 {
    position: absolute;
    left: 850px;
    top: 700px;
    width: 100px;
}

#wrapflower7 {
    position: absolute;
    right: 300px;
    top: 600px;
    width: 100px;
}



#wrapleftarrow img{
    width: 100%;
}

#wraprightarrow img{
    width: 100%;
}

#wrapflower1 img{
    width: 100%;
}

#wrapflower2 img{
    width: 100%;
}

#wrapflower3 img{
    width: 100%;
}

#wrapflower4 img{
    width: 100%;
}

#wrapflower5 img{
    width: 100%;
}

#wrapflower6 img{
    width: 100%;
}

#wrapwolf img {
    width: 100%;
    height: auto;
}

#wrap img {
    width: 100%;
    height: auto;
}

#wrapdirection img {
    width: 100%;
    height: auto;
}

#text {
    transform: scale(.5);
    width: 900px;
    position: relative;
    top: 80px;

}

.fadein img{
    opacity:0.5;
    transition: 1s ease;
    }
    
.fadein img:hover{
    opacity:1;
    transition: 1s ease;
    }
    
  
  @keyframes animationtime {
    16% {
      transform: skew(-5deg);
      transform: skew(-5deg);
    }
    33% {
      transform: skew(3deg);
      transform: skew(3deg); 
    }
    49% {
      transform: skew(-4deg);
      transform: skew(-4deg);
    }
    66% {
      transform: skew(4deg);
      transform: skew(4deg);
    }
    83% {
      transform: skew(-2deg);
      transform: skew(-2deg);
    }
    100% {
      transform: skew(0);
      transform: skew(0);
    } 
  }

  #wobble {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform-origin: 0 100%;
  }
   
#wobble:hover {
    animation-name: animationtime;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }

#typewriter {
    color: black;
    font-size:30px;
    font-family: monospace;
    overflow: hidden; /* the content is not revealed until the animation */
    white-space: nowrap; /* keeps the content on a single line */
    margin: 0 auto; /* gives scrolling effect as the typing happens */
    letter-spacing: .15em; 
    animation: typingout 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typingout {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
  }

#positionspeech {
    position: absolute;
    left:500px;
    top:5px;
    width: 990px;
    transform: rotate(-10deg);
}

#positionspeech img {
    width: 100%;
    height: auto;
}

#container {
    position: relative;
    text-align: center;
    color: white;
  }

#centered {
    position: absolute;
    top: 47%;
    left: 58%;
    transform: translate(-50%, -50%);
  }

#tableposition {
    position: absolute;
    top: 650px;
    left: 900px;
  }

#hiposition {
    position: absolute;
    top: -200px;
    left: 400px;
    width: 400px;
}

#hiposition img {
    width: 100%;
    height: auto;
}

#byeposition {
    position: absolute;
    top: 50px;
    left: 400px;
    width:400px;
}

#byeposition img {
    width: 100%;
    height: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

#body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500vh;
    text-align: center;
    font-family: 'Nosifer', cursive;
    overflow: hidden;
    font-size: 3.5em;
    color: black;
 }

#message {
    margin: 0;
    position: relative;
    text-transform: uppercase;
    height: 200px;
    letter-spacing: 7px;
    text-align: center;
    text-shadow: 1px 1px 5px crimson;
 }

 
 .drop {
    position: absolute;
    top: 65%;
    width: .1em;
    height: .1em;
    border-radius: 0 100% 100% 100%;
    box-shadow: 1px 1px 3px crimson;
    animation: drop 3s infinite both;
 }

.drop:nth-child(1) {
    left: 18%;
 }

 .drop:nth-child(2) {
    left: 39%;
    animation-delay: -.5s;
    width: .15em;
    height: .15em;
 }

 .drop:nth-child(3) {
    left: 55%;
    animation-delay: -1.5s;
 }

 .drop:nth-child(4) {
    left: 88%;
    width: .16em;
    height: .16em;
    animation-delay: -.10s;
 }

.drop:nth-child(5) {
    left: 35%;
    animation-delay: -1s;
 }

 .drop:nth-child(6) {
    left: 55%;
    animation-delay: -1.5s;
 }

 .drop:nth-child(7) {
    left: 3%;
    animation-delay: -.5s;
 }

 @keyframes drop {
    0%{
        transform: translateY(0) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-out;
    }
    60% {
        transform: translateY(120%) scaleX(.85) rotate(45deg);
        animation-timing-function: ease-in;
    }
    80%, 100% {
        transform: translateY(50vh) scaleX(.85) rotate(45deg);
    }
 }


 #talkposition {
    margin-left: calc(40vw - 250px);
    margin-top: calc(60vh - 100px);
 }

 #positionarrow {
    margin-left: calc(40vw - 400px);
    margin-top: calc(60vh - 700px);
    width:200px;
}

#positionarrow img {
    width: 100%;
    height: auto;
}

#homeposition {
    position: absolute;
    left: 20px;
    top:20px;
    width: 60px;
}

#homeposition img {
    width: 100%;
    height: auto;
}

#wrapgrandma {
    position: absolute;
    top: 300px;
    left: 100px;
    width: 1200px;
}

#wrapgrandma img {
    width: 100%;
    height: auto;
}

#tryagain {
    position: absolute;
    top: 1500px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: grey;
    font-size: 10px;
}

#boba {
    position: absolute;
    top: 16px;
    left: 1496px;
    width: 40px
}

#circle{
    position: absolute;
    top:38px;
    right:65px;
    height: 30px;
    width: 30px;
    background-color: #e4e3e3;
    border-radius: 50%;
    display: inline-block;
}



#boba img {
    width: 100%;
    height: auto;
    opacity: 0;
}

#boba img:hover {
    opacity: 1;
}